{
  "plugins": ["prettier"],
  "parserOptions": {
    "ecmaVersion": 8
  },
  "env": {
    "node": true,
    "mocha": true
  },
  "extends": [
    "airbnb-base",
    "plugin:prettier/recommended"
    
  ]
}